* {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 8rem;
}

// **** REGISTER/LOGIN START **** //
.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

input {
    padding: 0.6vh;
    margin: 1vh;
}

button {
    padding: 1vh;
    border-radius: 0.5vh;
}

// **** REGISTER/LOGIN END **** //
// **** COUNTRY ARTICLES START **** //
.country-articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-card {
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    // width: 200px;
}

.card {
    display: flex;
    flex-direction: column;
}

// **** COUNTRY ARTICLES END **** //
// **** SINGLE ARTICLES START **** //
.single-article-container {
    h2 {
        font-size: 40px;
    }
}

.single-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// **** SINGLE ARTICLES END **** //