// font-family: 'Rubik Mono One', sans-serif;

* {
    margin: 0;
    padding: 0;
    // font-family: 'Inconsolata', monospace;
    font-family: 'Patrick Hand SC', cursive;
}

body {
    height: 100vh;
    width: 100vw;
    // display: block;
    margin: auto;
    // display: flex;
    // justify-content: center;
    // padding: 8rem;
}


// **** REGISTER/LOGIN START **** //
.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

input {
    padding: 0.6vh;
    margin: 1vh;
}

button {
    padding: 1vh;
    border-radius: 0.5vh;
}

// **** REGISTER/LOGIN END **** //
// **** COUNTRY ARTICLES START **** //



// **** COUNTRY ARTICLES START **** //
.country-articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: solid 1px lightgrey;
    border-radius: 5px;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


// **** COUNTRY ARTICLES END **** //


// **** SINGLE ARTICLES START **** //
.single-article-container {
  display:flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 10vw;
    h3 {
      // font-family: 'Bebas Neue', cursive;
      font-family: 'Rubik Mono One', sans-serif;
      // font-family: 'Patrick Hand SC', cursive;
      text-transform: uppercase;
    }
    h2 {
        font-size: 1.5rem;
    }
    button {
      font-family: 'Inconsolata', monospace;
    }
    p {
      font-size: 0.8rem;
      float: right;
    }
}

.single-article-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.title-flag {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


// **** SINGLE ARTICLES END **** //